.App {
  text-align: center;
  background-color: black;
  color: white;
}

.bulb {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
  border: 5px solid transparent;
}

.bulb.broken {
  border: 5px solid maroon;
}

.body {
  width: fit-content;
  margin-top: 50px;
  display: inline-block;
  margin: 30px;
  padding-bottom: 10px;
  height: 800px;
}

h2 {
  display: inline;
  margin-right: 10px;
  margin-left: 20px;
}

.space {
  margin-right: 50px;
}

.controls {
  padding-bottom: 100px;
}
.controls button {
  height: 30px;
  width: 100px;
}

.controls button {
  height: 30px;
  width: 100px;
  background-color: white;
  border: 1px solid black
}

.controls button:hover {
  background-color: yellow;
  border: 1px solid transparent
}

button.active {
  background-color: orange;
}
button:disabled {
  background-color: gray;
  color: white;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding-bottom: 30px;
}

.special {
  margin-left: 50px;
}

.flashing_low{
  animation: blinker 1s linear infinite;
}
.flashing_medium{
  animation: blinker .75s linear infinite;
}
.flashing_high{
  animation: blinker .5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
    border: 5px solid rgb(255, 255, 255, .5);
  }
}